@import './theme.scss';
.home{
	width: 100%;
	height: 100%;
	border: 1px solid red;
	display: flex;
	box-sizing: border-box;
	.home-left{
		width: 400px;
		height: 100%;
		box-sizing: border-box;
		padding: 20px 0px;
		background-color: #303030;
	}
	.home-right{
		width: calc(100% - 200px);
		height: 100%;
	}
}

// user
.user-box{
	width: 100%;
	display: flex;
	align-items: center;
	padding: 0 5px;
	.user-photo{
		width: 80px;
		height: 80px;
		border-radius: 50%;
		border: 1px solid red;
	}
	.user-information{
		margin-left: 10px;
		h4{
			font-size: 28px;
			color:rgba($color-nav-R,$color-nav-G,$color-nav-B,1);
			font-weight: normal;
		}
		p{
			font-size: 20px;
			color:rgba($color-nav-R,$color-nav-G,$color-nav-B,.7);
			font-size: 10px;
		}
	}
}

// search-box
.search-box{
	width: 100%;
	height: 60px;
	margin-top: 10px;
	background: #3c3c3c;
	display: flex;
	align-items: center;
	box-sizing: border-box;
	padding:  0 10px;
	.logo{
		width: 40px;
		height: 40px;
		background: url(../assets/Logo.svg) no-repeat center;
		background-size: cover;
	}
	input{
		width: 200px;
		margin-left: 20px;
		background: 0;
		outline: none;
		border: 0;
		color: rgb($color-nav-R, $color-nav-G, $color-nav-B);
		font-size: 20px;
	}
}


// list
.left-list{
	margin-top: 50px;
}
.list-box{
	width: 100%;
	height: 60px;
	background: #303030;
	display: flex;
	align-items: center;
	box-sizing: border-box;
	padding:  0 10px;
	&.active{
		background: rgba($color-nav-active-R, $color-nav-active-G, $color-nav-active-B, 1);
		.right{
			color: rgba($color-nav-R, $color-nav-G, $color-nav-B,1);
		}
	}
	.icon{
		width: 35px;
		height: 35px;
		background: url(../assets/Logo.svg) no-repeat center;
		background-size: cover;		
	}
	.right{
		margin-left: 25px;
		color: rgba($color-nav-R, $color-nav-G, $color-nav-B,.5);
		font-size: 20px;	
	}	
}
